<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_text</key>
	<string>

</string>
	<key>photos</key>
	<dict>
		<key>_text</key>
		<string>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</string>
		<key>page</key>
		<string>1</string>
		<key>pages</key>
		<string>6284</string>
		<key>perpage</key>
		<string>100</string>
		<key>photo</key>
		<array>
			<dict>
				<key>farm</key>
				<string>8</string>
				<key>id</key>
				<string>6968293359</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>33488374@N03</string>
				<key>secret</key>
				<string>3109b4c244</string>
				<key>server</key>
				<string>7050</string>
				<key>title</key>
				<string>. Obama  +  Iran .</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3009677930</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>21002147@N00</string>
				<key>secret</key>
				<string>326481aacf</string>
				<key>server</key>
				<string>3179</string>
				<key>title</key>
				<string>Think</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>5</string>
				<key>id</key>
				<string>5137258684</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>47985927@N08</string>
				<key>secret</key>
				<string>f9ee1e36b7</string>
				<key>server</key>
				<string>4059</string>
				<key>title</key>
				<string>obama? {front page?!}</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3216327118</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>57332134@N00</string>
				<key>secret</key>
				<string>67c9f6c6f9</string>
				<key>server</key>
				<string>3501</string>
				<key>title</key>
				<string>Obama Inauguration</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>6</string>
				<key>id</key>
				<string>14478516914</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>11146274@N00</string>
				<key>secret</key>
				<string>304da0c6f5</string>
				<key>server</key>
				<string>5482</string>
				<key>title</key>
				<string>Obama: "WE  CAN . . . . "</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3445657584</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>37436303@N02</string>
				<key>secret</key>
				<string>ae5b791c04</string>
				<key>server</key>
				<string>3643</string>
				<key>title</key>
				<string>US Obama Dog</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2947254441</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>25882956@N00</string>
				<key>secret</key>
				<string>5f0a10c6af</string>
				<key>server</key>
				<string>3273</string>
				<key>title</key>
				<string>Obama Cake</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>8</string>
				<key>id</key>
				<string>7129311585</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>35703177@N00</string>
				<key>secret</key>
				<string>d9b3e4859e</string>
				<key>server</key>
				<string>7096</string>
				<key>title</key>
				<string>Saluting the Commander-in-chief</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2939110809</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>26715380@N04</string>
				<key>secret</key>
				<string>ab114f5dc2</string>
				<key>server</key>
				<string>3186</string>
				<key>title</key>
				<string>ginger's-obama-sign</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2813085202</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>94975828@N00</string>
				<key>secret</key>
				<string>7ec9d0d99b</string>
				<key>server</key>
				<string>3110</string>
				<key>title</key>
				<string>Obama 2008 Presidential Campaign</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2596127283</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>22801248@N07</string>
				<key>secret</key>
				<string>4741a0cb1a</string>
				<key>server</key>
				<string>3292</string>
				<key>title</key>
				<string>Obama Profile Silhouette Pattern</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2898898083</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>22554961@N00</string>
				<key>secret</key>
				<string>6374d1b4d0</string>
				<key>server</key>
				<string>3058</string>
				<key>title</key>
				<string>obama mama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2918366560</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>18574082@N07</string>
				<key>secret</key>
				<string>65dc58597e</string>
				<key>server</key>
				<string>3261</string>
				<key>title</key>
				<string>Vote Obama &amp; Biden</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2956399429</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>7182415@N06</string>
				<key>secret</key>
				<string>a49533d230</string>
				<key>server</key>
				<string>3057</string>
				<key>title</key>
				<string>obama pumpkin</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3005945631</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>8264776@N08</string>
				<key>secret</key>
				<string>6610a77b6a</string>
				<key>server</key>
				<string>3179</string>
				<key>title</key>
				<string>obama*keh</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>8</string>
				<key>id</key>
				<string>7249310334</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>94178058@N00</string>
				<key>secret</key>
				<string>f891d7976b</string>
				<key>server</key>
				<string>7215</string>
				<key>title</key>
				<string>Obama and Merkel</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3003451968</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>92407940@N00</string>
				<key>secret</key>
				<string>25a2ffdddc</string>
				<key>server</key>
				<string>3194</string>
				<key>title</key>
				<string>Obama de Banyoles</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3289875761</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>21930447@N02</string>
				<key>secret</key>
				<string>18c0ab94e5</string>
				<key>server</key>
				<string>3334</string>
				<key>title</key>
				<string>Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2893292600</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>52153681@N00</string>
				<key>secret</key>
				<string>65da5eaeee</string>
				<key>server</key>
				<string>3232</string>
				<key>title</key>
				<string>Obama (Barack)...</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>5</string>
				<key>id</key>
				<string>35383275202</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>95079366@N02</string>
				<key>secret</key>
				<string>877373a3a8</string>
				<key>server</key>
				<string>4278</string>
				<key>title</key>
				<string>Obama Guns</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>9</string>
				<key>id</key>
				<string>7883706354</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>21789669@N00</string>
				<key>secret</key>
				<string>4ebe328718</string>
				<key>server</key>
				<string>8445</string>
				<key>title</key>
				<string>Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2729683653</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>51035667891@N01</string>
				<key>secret</key>
				<string>f45afd9967</string>
				<key>server</key>
				<string>3040</string>
				<key>title</key>
				<string>Obama Stencil, Sellwood, Portland, Oregon</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3212454305</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>28992390@N00</string>
				<key>secret</key>
				<string>1fe5d34bf0</string>
				<key>server</key>
				<string>3383</string>
				<key>title</key>
				<string>Obama Inauguration</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>5</string>
				<key>id</key>
				<string>5012421239</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>10023678@N05</string>
				<key>secret</key>
				<string>d8fc8e2b1e</string>
				<key>server</key>
				<string>4129</string>
				<key>title</key>
				<string>Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3116775149</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>29126868@N07</string>
				<key>secret</key>
				<string>d1e07f15c4</string>
				<key>server</key>
				<string>3190</string>
				<key>title</key>
				<string>Obama 2</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2989147457</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>53128580@N00</string>
				<key>secret</key>
				<string>d7d4f86b19</string>
				<key>server</key>
				<string>3005</string>
				<key>title</key>
				<string>Obama in Philly</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>13381671795</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>27379690@N00</string>
				<key>secret</key>
				<string>684a55f1d0</string>
				<key>server</key>
				<string>3793</string>
				<key>title</key>
				<string>Armada d'Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2703823195</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>17029195@N00</string>
				<key>secret</key>
				<string>5633c88d1c</string>
				<key>server</key>
				<string>3293</string>
				<key>title</key>
				<string>Obama_5362</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3006682038</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>24411589@N08</string>
				<key>secret</key>
				<string>fc4ddcbdd0</string>
				<key>server</key>
				<string>3174</string>
				<key>title</key>
				<string>OBAMA</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>5</string>
				<key>id</key>
				<string>4264067903</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>32054898@N00</string>
				<key>secret</key>
				<string>fa0eb98f03</string>
				<key>server</key>
				<string>4040</string>
				<key>title</key>
				<string>OBAMA [SDIM0086]</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>3</string>
				<key>id</key>
				<string>11669792953</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>11146274@N00</string>
				<key>secret</key>
				<string>d3c6ed5736</string>
				<key>server</key>
				<string>2805</string>
				<key>title</key>
				<string>Spider Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>13493889335</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>32423360@N06</string>
				<key>secret</key>
				<string>c03761be62</string>
				<key>server</key>
				<string>3793</string>
				<key>title</key>
				<string>Obama e il baseball dei Romani</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>7</string>
				<key>id</key>
				<string>6045674500</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>45855516@N08</string>
				<key>secret</key>
				<string>dda3b6d799</string>
				<key>server</key>
				<string>6182</string>
				<key>title</key>
				<string>Obama in Fragments</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3214009896</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>33168467@N00</string>
				<key>secret</key>
				<string>35d51a8e8d</string>
				<key>server</key>
				<string>3373</string>
				<key>title</key>
				<string>obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>8</string>
				<key>id</key>
				<string>7316291616</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>39264085@N05</string>
				<key>secret</key>
				<string>9065d163f9</string>
				<key>server</key>
				<string>7104</string>
				<key>title</key>
				<string>Obama Onsen</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2923599671</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>47508116@N00</string>
				<key>secret</key>
				<string>8113fdc3a6</string>
				<key>server</key>
				<string>3289</string>
				<key>title</key>
				<string>Obama angel cat</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3116538193</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>29749581@N00</string>
				<key>secret</key>
				<string>647bc81c9f</string>
				<key>server</key>
				<string>3290</string>
				<key>title</key>
				<string>The Obama Hallucination</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2317062139</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>24458234@N02</string>
				<key>secret</key>
				<string>671db18b59</string>
				<key>server</key>
				<string>3169</string>
				<key>title</key>
				<string>Obama 2008</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>9</string>
				<key>id</key>
				<string>8479236452</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>45855516@N08</string>
				<key>secret</key>
				<string>bd71d65dbe</string>
				<key>server</key>
				<string>8231</string>
				<key>title</key>
				<string>Obama in Colors</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>3</string>
				<key>id</key>
				<string>2253258365</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>9562220@N02</string>
				<key>secret</key>
				<string>d79e1f46a6</string>
				<key>server</key>
				<string>2111</string>
				<key>title</key>
				<string>Obama '08!</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3236012287</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>28538531@N07</string>
				<key>secret</key>
				<string>6b60ee1b55</string>
				<key>server</key>
				<string>3385</string>
				<key>title</key>
				<string>Obama!!!</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2891651654</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>87693361@N00</string>
				<key>secret</key>
				<string>63b305c781</string>
				<key>server</key>
				<string>3252</string>
				<key>title</key>
				<string>obama nashville</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>2</string>
				<key>id</key>
				<string>1202275637</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>60992346@N00</string>
				<key>secret</key>
				<string>a1fb470e65</string>
				<key>server</key>
				<string>1017</string>
				<key>title</key>
				<string>Obama 2008</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2699753418</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>48595739@N00</string>
				<key>secret</key>
				<string>ffc376a817</string>
				<key>server</key>
				<string>3008</string>
				<key>title</key>
				<string>Obama in Berlin</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2834357616</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>81757835@N00</string>
				<key>secret</key>
				<string>e8b58c2a4b</string>
				<key>server</key>
				<string>3045</string>
				<key>title</key>
				<string>Obama in Terre Haute</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>9</string>
				<key>id</key>
				<string>8162388132</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>22942507@N08</string>
				<key>secret</key>
				<string>5d4abac903</string>
				<key>server</key>
				<string>8479</string>
				<key>title</key>
				<string>OBAMA</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2988630129</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>44124275041@N01</string>
				<key>secret</key>
				<string>e47d2befaf</string>
				<key>server</key>
				<string>3213</string>
				<key>title</key>
				<string>Obama Window, SF</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>5</string>
				<key>id</key>
				<string>37424175844</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>150352073@N07</string>
				<key>secret</key>
				<string>75000d4b5b</string>
				<key>server</key>
				<string>4497</string>
				<key>title</key>
				<string>Barack Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3212454619</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>28992390@N00</string>
				<key>secret</key>
				<string>8487486bcc</string>
				<key>server</key>
				<string>3500</string>
				<key>title</key>
				<string>Obama Inauguration</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>3</string>
				<key>id</key>
				<string>2332602200</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>85777430@N00</string>
				<key>secret</key>
				<string>ccb841b248</string>
				<key>server</key>
				<string>2122</string>
				<key>title</key>
				<string>obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3689105648</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>36836007@N07</string>
				<key>secret</key>
				<string>840efc2460</string>
				<key>server</key>
				<string>3651</string>
				<key>title</key>
				<string>Obama in Chile</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3024291053</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>21176399@N04</string>
				<key>secret</key>
				<string>1635edb1da</string>
				<key>server</key>
				<string>3021</string>
				<key>title</key>
				<string>Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3009771790</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>8882048@N08</string>
				<key>secret</key>
				<string>ea7afb080f</string>
				<key>server</key>
				<string>3198</string>
				<key>title</key>
				<string>Obama makes history!</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3000080922</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>66479894@N00</string>
				<key>secret</key>
				<string>e352e8d0f2</string>
				<key>server</key>
				<string>3238</string>
				<key>title</key>
				<string>Obama cookies!</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>3</string>
				<key>id</key>
				<string>3646261727</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>18258515@N00</string>
				<key>secret</key>
				<string>82606cdf31</string>
				<key>server</key>
				<string>2441</string>
				<key>title</key>
				<string>Obama Barn</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3211498773</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>91317579@N00</string>
				<key>secret</key>
				<string>c64611dfee</string>
				<key>server</key>
				<string>3308</string>
				<key>title</key>
				<string>Obama graffiti</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3006441094</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>9525555@N07</string>
				<key>secret</key>
				<string>7926de316f</string>
				<key>server</key>
				<string>3209</string>
				<key>title</key>
				<string>Obama Chocolate Stout homebrew</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3219145568</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>13241677@N08</string>
				<key>secret</key>
				<string>ed5e0d0006</string>
				<key>server</key>
				<string>3519</string>
				<key>title</key>
				<string>Obama shines !</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3199309131</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>31634655@N00</string>
				<key>secret</key>
				<string>1fa061ed1e</string>
				<key>server</key>
				<string>3089</string>
				<key>title</key>
				<string>Obama Pre-Inauguration 017</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3211386504</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>14384441@N00</string>
				<key>secret</key>
				<string>4811632200</string>
				<key>server</key>
				<string>3340</string>
				<key>title</key>
				<string>obama!</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>3</string>
				<key>id</key>
				<string>4263566602</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>98698449@N00</string>
				<key>secret</key>
				<string>684c232581</string>
				<key>server</key>
				<string>2723</string>
				<key>title</key>
				<string>Obama Light</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>3</string>
				<key>id</key>
				<string>4058991595</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>27809102@N02</string>
				<key>secret</key>
				<string>53223ab7e4</string>
				<key>server</key>
				<string>2661</string>
				<key>title</key>
				<string>Obama Barn</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>5</string>
				<key>id</key>
				<string>4864036397</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>32645377@N06</string>
				<key>secret</key>
				<string>4dd9414437</string>
				<key>server</key>
				<string>4096</string>
				<key>title</key>
				<string>OBAMA MESSIAH</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>9</string>
				<key>id</key>
				<string>7258411616</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>45855516@N08</string>
				<key>secret</key>
				<string>cb3a8c883d</string>
				<key>server</key>
				<string>8147</string>
				<key>title</key>
				<string>Obama Flag</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2870083581</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>50459717@N00</string>
				<key>secret</key>
				<string>a80e7797de</string>
				<key>server</key>
				<string>3239</string>
				<key>title</key>
				<string>Obama x Lincoln</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>3</string>
				<key>id</key>
				<string>2243023497</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>80951497@N00</string>
				<key>secret</key>
				<string>1cd206da37</string>
				<key>server</key>
				<string>2127</string>
				<key>title</key>
				<string>Obama Rally</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>2</string>
				<key>id</key>
				<string>24357305153</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>59187094@N05</string>
				<key>secret</key>
				<string>b74208ba85</string>
				<key>server</key>
				<string>1544</string>
				<key>title</key>
				<string>Obama Designates 3 New National Monuments in California</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3212281609</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>36467837@N00</string>
				<key>secret</key>
				<string>622a9eeb40</string>
				<key>server</key>
				<string>3471</string>
				<key>title</key>
				<string>Obama-tar</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>5</string>
				<key>id</key>
				<string>35690428336</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>155979904@N02</string>
				<key>secret</key>
				<string>7ff7bbeb7d</string>
				<key>server</key>
				<string>4028</string>
				<key>title</key>
				<string>Obamagate Meme Spying Wiretapping Meme</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>3</string>
				<key>id</key>
				<string>2268095872</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>23626658@N08</string>
				<key>secret</key>
				<string>498f5a1214</string>
				<key>server</key>
				<string>2295</string>
				<key>title</key>
				<string>Obama Rally</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>8</string>
				<key>id</key>
				<string>8871014000</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>32051797@N00</string>
				<key>secret</key>
				<string>e22af8b9ca</string>
				<key>server</key>
				<string>7398</string>
				<key>title</key>
				<string>#obama #obama2012</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>5</string>
				<key>id</key>
				<string>35937835161</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>151098600@N04</string>
				<key>secret</key>
				<string>3a59c76663</string>
				<key>server</key>
				<string>4299</string>
				<key>title</key>
				<string>obama 527</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3006176447</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>25693367@N08</string>
				<key>secret</key>
				<string>764777feb2</string>
				<key>server</key>
				<string>3271</string>
				<key>title</key>
				<string>Change. Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2816799328</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>94975828@N00</string>
				<key>secret</key>
				<string>08d02c6e68</string>
				<key>server</key>
				<string>3129</string>
				<key>title</key>
				<string>20080831_BattleCreek_MI_Rally0703</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3042813002</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>78477549@N00</string>
				<key>secret</key>
				<string>5dc3c38bb5</string>
				<key>server</key>
				<string>3272</string>
				<key>title</key>
				<string>Obamas</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3266040193</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>35228181@N02</string>
				<key>secret</key>
				<string>6137d29d82</string>
				<key>server</key>
				<string>3474</string>
				<key>title</key>
				<string>Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>9</string>
				<key>id</key>
				<string>7758774104</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>29964823@N03</string>
				<key>secret</key>
				<string>444f4a83af</string>
				<key>server</key>
				<string>8289</string>
				<key>title</key>
				<string>OBAMA meets NEAR!</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2785463843</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>84904577@N00</string>
				<key>secret</key>
				<string>22911ba5ec</string>
				<key>server</key>
				<string>3150</string>
				<key>title</key>
				<string>Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>3</string>
				<key>id</key>
				<string>14660576211</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>7852604@N08</string>
				<key>secret</key>
				<string>a75cc86ffd</string>
				<key>server</key>
				<string>2897</string>
				<key>title</key>
				<string>Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>5</string>
				<key>id</key>
				<string>34888961904</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>155979904@N02</string>
				<key>secret</key>
				<string>f44823d43a</string>
				<key>server</key>
				<string>4278</string>
				<key>title</key>
				<string>Obamagate Meme Spying Wiretapping Meme</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>5</string>
				<key>id</key>
				<string>4573053196</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>84904577@N00</string>
				<key>secret</key>
				<string>10f1a79b70</string>
				<key>server</key>
				<string>4061</string>
				<key>title</key>
				<string>Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>4004609350</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>43382281@N05</string>
				<key>secret</key>
				<string>f25992f306</string>
				<key>server</key>
				<string>3493</string>
				<key>title</key>
				<string>Obama!</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3204991444</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>31634655@N00</string>
				<key>secret</key>
				<string>7d9fb84964</string>
				<key>server</key>
				<string>3118</string>
				<key>title</key>
				<string>Obama Pre-Inauguration Saturday 037</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3014567228</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>13797240@N08</string>
				<key>secret</key>
				<string>1e6013f3d9</string>
				<key>server</key>
				<string>3280</string>
				<key>title</key>
				<string>OBAMA BY TURDLE</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>2831232596</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>51035555243@N01</string>
				<key>secret</key>
				<string>b96b51f055</string>
				<key>server</key>
				<string>3116</string>
				<key>title</key>
				<string>McCain vs Obama</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3005074685</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>41519500@N00</string>
				<key>secret</key>
				<string>8fa1b1b99d</string>
				<key>server</key>
				<string>3020</string>
				<key>title</key>
				<string>Obama Baby</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>8870403777</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>32051797@N00</string>
				<key>secret</key>
				<string>b698def29f</string>
				<key>server</key>
				<string>3693</string>
				<key>title</key>
				<string>#obama #obama2012</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3004674156</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>50677282@N00</string>
				<key>secret</key>
				<string>c53f026060</string>
				<key>server</key>
				<string>3047</string>
				<key>title</key>
				<string>obama peeps</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>4</string>
				<key>id</key>
				<string>3028670398</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>29126868@N07</string>
				<key>secret</key>
				<string>3c30513cde</string>
				<key>server</key>
				<string>3274</string>
				<key>title</key>
				<string>Obama_talks2America</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>3</string>
				<key>id</key>
				<string>4109159110</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>43757302@N06</string>
				<key>secret</key>
				<string>a99a4b3e54</string>
				<key>server</key>
				<string>2739</string>
				<key>title</key>
				<string>Obama within students</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>9</string>
				<key>id</key>
				<string>8024504202</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>51459032@N00</string>
				<key>secret</key>
				<string>9e296d6775</string>
				<key>server</key>
				<string>8032</string>
				<key>title</key>
				<string>OBAMA &amp; GOD</string>
			</dict>
			<dict>
				<key>farm</key>
				<string>3</string>
				<key>id</key>
				<string>3796894640</string>
				<key>isfamily</key>
				<string>0</string>
				<key>isfriend</key>
				<string>0</string>
				<key>ispublic</key>
				<string>1</string>
				<key>owner</key>
				<string>41208149@N04</string>
				<key>secret</key>
				<string>a3feaf2602</string>
				<key>server</key>
				<string>2581</string>
				<key>title</key>
				<string>obama lincoln poster</string>
			</dict>
		</array>
		<key>total</key>
		<string>628371</string>
	</dict>
	<key>stat</key>
	<string>ok</string>
</dict>
</plist>
